Repository haidave/haidave-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.{json,md,html,yaml}": ["prettier --write"]
}

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): add contentlayer generate step
  .github/workflows/ci.yml
Due: none

feat(resources): add resources list
  src/app/notes/page.tsx
  src/app/resources/page.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/modules/resources/data/index.ts
  src/styles/globals.css
Due: eslint --fix, prettier --write

feat(resources-list): animate category tabs
  src/modules/resources/components/resources-list/index.tsx
Due: eslint --fix, prettier --write

chore: add focus states
  src/app/notes/[...slug]/layout.tsx
  src/app/notes/page.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/styles/globals.css
  tailwind.config.cjs
Due: eslint --fix, prettier --write

chore(pages): change descriptions
  src/app/about/page.tsx
  src/app/notes/page.tsx
  src/app/resources/page.tsx
Due: eslint --fix, prettier --write

feat: add tools page
  src/app/tools/page.tsx
  src/config/routes.ts
  src/modules/about/components/tools-list/index.tsx
  src/modules/about/data/index.ts
  src/modules/layout/components/dock/index.tsx
Due: eslint --fix, prettier --write

feat(tools): add tools logos
  next.config.js
  src/app/tools/page.tsx
  src/modules/about/data/index.ts
  src/modules/resources/components/resources-list/index.tsx
  src/modules/tools/assets/apple-notes-logo.png
  src/modules/tools/assets/arc-logo.png
  src/modules/tools/assets/bitwarden-logo.png
  src/modules/tools/assets/color-slurp-logo.png
  src/modules/tools/assets/cron-logo.png
  src/modules/tools/assets/github-copilot-logo.png
  src/modules/tools/assets/index.ts
  src/modules/tools/assets/raycast-logo.png
  src/modules/tools/assets/spark-logo.png
  src/modules/tools/assets/todoist-logo.png
  src/modules/tools/assets/vscode-logo.png
  src/modules/tools/assets/warp-logo.png
  src/modules/tools/components/tools-list/index.tsx
  src/modules/tools/data/index.ts
Due: eslint --fix, prettier --write

refactor(dock): polish styles
  src/modules/layout/components/dock/index.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/modules/tools/components/tools-list/index.tsx
  src/styles/globals.css
  tailwind.config.cjs
Due: eslint --fix, prettier --write

refactor(tooltip): add bg
  src/modules/design-system/components/tooltip/index.tsx
Due: eslint --fix, prettier --write

chore(tools): change description
  src/app/tools/page.tsx
Due: eslint --fix, prettier --write

refactor(dock-item): switch bg with hover bg
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

refactor(tools): update todoist logo
  src/modules/tools/assets/todoist-logo.png
Due: none

refactor(tools-list): remove extra div
  src/modules/tools/components/tools-list/index.tsx
Due: eslint --fix, prettier --write

chore(notes): update description
  src/app/notes/page.tsx
Due: eslint --fix, prettier --write

chore: add linear-gradient-subtle
  src/styles/globals.css
  tailwind.config.cjs
Due: prettier --write

refactor(dock-item): use linear-gradient-subtle
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

chore(deps): add react-wrap-balancer
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(design-system): add link component
  src/modules/design-system/components/link/index.tsx
Due: eslint --fix, prettier --write

chore(deps): add sonner toasts
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(utils): add copyToClipboard
  src/lib/utils.ts
Due: eslint --fix, prettier --write

chore(about): add content
  .editorconfig
  src/app/about/page.tsx
  src/modules/about/components/contact/index.tsx
  src/modules/design-system/components/link/index.tsx
  src/modules/layout/components/section/index.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

chore(deps): upgrade next to 13.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: migrate to bun
  .gitattributes
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  README.md
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(github/ci): remove `--frozen-lockfile`
  .github/workflows/ci.yml
Due: none

fix(github/ci): add `bun run build`
  .github/workflows/ci.yml
Due: none

refactor(dock-item): show tooltip correctly
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

refactor: pages structure
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/notes/[...slug]/layout.tsx
  src/app/notes/[...slug]/page.tsx
  src/app/notes/page.tsx
  src/app/page.tsx
  src/app/resources/page.tsx
  src/app/tools/page.tsx
  src/modules/about/components/contact/index.tsx
  src/modules/about/pages/about.tsx
  src/modules/design-system/components/dock/index.tsx
  src/modules/design-system/components/dock/parts/dock-item/index.tsx
  src/modules/design-system/components/root-layout/index.tsx
  src/modules/design-system/components/section/index.tsx
  src/modules/home/pages/home.tsx
  src/modules/notes/components/notes-layout.tsx
  src/modules/notes/pages/note.tsx
  src/modules/notes/pages/notes.tsx
  src/modules/resources/pages/resources.tsx
  src/modules/tools/pages/tools.tsx
Due: eslint --fix, prettier --write

chore(deps): add radix-ui accordion
  bun.lockb
  package.json
Due: prettier --write

chore(design-system): add accordion
  src/modules/design-system/components/accordion/index.tsx
  tailwind.config.cjs
Due: eslint --fix, prettier --write

chore(deps): add radix-ui checkbox
  bun.lockb
  package.json
Due: prettier --write

chore(design-system): add checkbox
  src/modules/design-system/components/checkbox/index.tsx
Due: eslint --fix, prettier --write

feat(resources): add some resources wip
  src/modules/design-system/components/accordion/index.tsx
  src/modules/resources/components/resource-card/index.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/modules/resources/components/resources-navigation/index.tsx
  src/modules/resources/data/index.ts
  src/modules/resources/pages/resources.tsx
  src/modules/resources/utils/const.ts
  src/modules/resources/utils/types.ts
Due: eslint --fix, prettier --write

feat(resources): finalize resources
  .vscode/settings.json
  src/modules/resources/components/resource-card/index.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/modules/resources/pages/resources.tsx
  src/modules/resources/utils/const.ts
Due: eslint --fix, prettier --write

feat(home): add content
  src/modules/about/pages/about.tsx
  src/modules/design-system/components/dock/parts/dock-item/index.tsx
  src/modules/design-system/components/link/index.tsx
  src/modules/design-system/components/section/index.tsx
  src/modules/home/components/home-content/index.tsx
  src/modules/home/pages/home.tsx
  src/modules/resources/components/resource-card/index.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/modules/resources/utils/const.ts
  src/modules/tools/components/tools-list/index.tsx
  src/modules/tools/components/tools-list/parts/tools-list-item/index.tsx
  src/modules/tools/data/index.ts
Due: eslint --fix, prettier --write

feat: responsive tweaks
  src/modules/design-system/components/dock/index.tsx
  src/modules/design-system/components/dock/parts/dock-item/index.tsx
  src/modules/design-system/components/root-layout/index.tsx
  src/modules/design-system/components/section/index.tsx
  src/modules/home/components/home-content/index.tsx
  src/modules/resources/components/resource-card/index.tsx
  src/modules/resources/components/resources-list/index.tsx
  src/modules/resources/utils/const.ts
Due: eslint --fix, prettier --write

chore(notes): clean up
  src/content/notes/first-note.mdx
  src/content/notes/second-note.mdx
  src/modules/notes/components/notes-layout.tsx
  src/modules/notes/pages/notes.tsx
Due: eslint --fix, prettier --write

chore: add vercel analytics
  bun.lockb
  package.json
  src/modules/design-system/components/root-layout/index.tsx
Due: eslint --fix, prettier --write

chore: add favicon
  src/app/favicon.ico
Due: none

chore: replace favicon
  src/app/favicon.ico
Due: none
