Repository haidave/haidave-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: prepare folders
  src/config/.gitkeep
  src/hooks/.gitkeep
  src/modules/.gitkeep
  src/modules/design-system/.gitkeep
Due: none

chore(config): add routes
  src/config/.gitkeep
  src/config/routes.ts
Due: eslint --fix, prettier --write

feat: add about page
  src/app/about/page.tsx
Due: eslint --fix, prettier --write

feat: add resources page
  src/app/resources/page.tsx
Due: eslint --fix, prettier --write

feat: add notes page
  src/app/notes/page.tsx
Due: eslint --fix, prettier --write

chore: remove favicon
  src/app/favicon.ico
Due: none

chore(deps): add next/font
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add custom fonts
  public/fonts/PPAgrandir-Regular.woff2
  public/fonts/iAWriterQuattroS-Regular.woff2
  src/app/layout.tsx
  src/modules/design-system/theme/fonts.ts
  tailwind.config.cjs
Due: eslint --fix, prettier --write

chore(modules): remove `.gitkeep`
  src/modules/.gitkeep
  src/modules/design-system/.gitkeep
Due: none

chore: replace fonts with inter
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/modules/design-system/theme/fonts.ts
  tailwind.config.cjs
Due: eslint --fix, prettier --write

chore(styles): add custom css variables
  src/app/globals.css
  tailwind.config.cjs
Due: prettier --write

chore(eslintrc): override tailwind rules
  .eslintrc.cjs
Due: none

feat(layout): add dock
  src/app/layout.tsx
  src/app/page.tsx
  src/modules/layout/components/dock/index.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

chore(deps): add framer-motion
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(dock): add magnification effect
  src/modules/layout/components/dock/index.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

chore(deps): add lucide icons
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(dock): add icons
  src/app/layout.tsx
  src/modules/layout/components/dock/index.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

chore(deps): add radix-ui tooltip
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(design-system): add tooltip component
  src/modules/design-system/components/tooltip/index.tsx
Due: eslint --fix, prettier --write

feat(dock): add tooltip
  src/modules/layout/components/dock/index.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

chore(prettier): add import order
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  src/app/layout.tsx
  src/lib/utils.ts
  src/modules/design-system/components/tooltip/index.tsx
  src/modules/layout/components/dock/index.tsx
  src/modules/layout/components/dock/parts/dock-item/index.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

refactor: remove old fonts
  public/fonts/PPAgrandir-Regular.woff2
  public/fonts/iAWriterQuattroS-Regular.woff2
Due: none

refactor(dock-item): add active styles to icon
  src/modules/layout/components/dock/parts/dock-item/index.tsx
  tailwind.config.cjs
Due: eslint --fix, prettier --write

chore(deps): add contentlayer
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslintrc): remove naming convention rule
  .eslintrc.cjs
Due: none

chore(deps): add date-fns
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(dock-item): modify isActive
  src/modules/layout/components/dock/parts/dock-item/index.tsx
Due: eslint --fix, prettier --write

feat(notes): setup contentlayer
  .gitignore
  contentlayer.config.ts
  next.config.js
  src/app/notes/[...slug]/layout.tsx
  src/app/notes/[...slug]/page.tsx
  src/app/notes/page.tsx
  src/content/notes/first-note.mdx
  src/content/notes/second-note.mdx
  tailwind.config.cjs
  tsconfig.json
Due: eslint --fix, prettier --write

chore(styles/globals): remove quotes from line-height
  src/styles/globals.css
Due: prettier --write

chore(styles/globals): add max width section
  src/styles/globals.css
  tailwind.config.cjs
Due: prettier --write

chore(layout): add section compound component
  src/modules/layout/components/section/index.tsx
Due: eslint --fix, prettier --write

refactor(app): add section to pages
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/notes/page.tsx
  src/app/page.tsx
  src/app/resources/page.tsx
Due: eslint --fix, prettier --write

refactor(notes/slug): add section layout
  src/app/notes/[...slug]/layout.tsx
  src/app/notes/[...slug]/page.tsx
  src/modules/layout/components/section/index.tsx
Due: eslint --fix, prettier --write

chore(tailwind-config): add hoverOnlyWhenSupported
  tailwind.config.cjs
Due: none

feat(notes): add styles for notes preview
  src/app/notes/page.tsx
Due: eslint --fix, prettier --write

chore(deps): update next to 13.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(notes): add styles for note layout and slug
  src/app/notes/[...slug]/layout.tsx
  src/app/notes/[...slug]/page.tsx
  src/app/notes/page.tsx
Due: eslint --fix, prettier --write

feat(notes): format dates
  src/app/notes/[...slug]/page.tsx
  src/app/notes/page.tsx
  src/content/notes/first-note.mdx
  src/content/notes/second-note.mdx
Due: eslint --fix, prettier --write

chore(eslintignore): add contentlayer
  .eslintignore
Due: none

chore(prettierignore): add contentlayer
  .prettierignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,html,yaml})
